# build results
packages/server/gen
packages/ui-form/webapp
dist

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

.DS_Store
.vscode/diff
.vscode/settings.json